{{/*% 
  Shortcode für vollformatige Bilder. Import relative images with:

  {{< picture "images/bla.jpg" "ALT-Text" >}}

  If available, Exif-Data will be extracted, and the alt text is printed afterwards.
  There is a check that throws if no alt text is given.

  To wrap things up, there's an emdash which separates the caption from the rest of the article.

  % */}}

{{ if eq (len ($.Get 1)) 0 }}
  {{ errorf "image %s does not have an alt text! Add one as the second parameter to the < picture > shortcode." (.Get 0) }}
{{ end }}

{{ $input := .Page.Resources.GetMatch (.Get 0) }}

{{ if lt ($input.Width) 1600 }}
  {{ errorf "image %s seems to be smaller than 800px@2x wide. This can lead to artefacts. Suggestion: Use the normal image tag or find a higher-resolution image." (.Get 0) }}
{{ end }}

{{ $res := $input.Resize "1600x" }}
{{ $lqi := $res.Resize "200x" }}
{{ $lqi := $lqi | images.Filter (images.GaussianBlur 20) (images.Brightness 20) }}

{{ with $res }}

<section class="imageWithCaption {{ if lt .Width .Height }}portrait{{ else }}landscape{{ end }}">
  <img src="{{ $lqi.RelPermalink }}" data-hqi-src="{{ .RelPermalink }}" alt="{{ $.Get 1 }}" width="{{ .Width }}" />
  <small aria-hidden="true">
    {{ if .Exif }}
      &#x1D453;/{{ .Exif.Tags.FNumber }},
      ISO {{.Exif.Tags.ISOSpeedRatings}},
      {{ if not ( eq (printf "%T" .Exif.Tags.ExposureTime) "*big.Rat" ) }}
        t={{ if (lt .Exif.Tags.ExposureTime  1) }}1/{{ math.Round (div 1 .Exif.Tags.ExposureTime) }}s,
        {{ else }}
          {{ div (math.Round (div .Exif.Tags.ExposureTime 5)) 5 }}s,
        {{ end }}
      {{ end }}
    {{ end }}
    alt={{ $.Get 1 }}</small>
</section>
{{ end }}
